body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1497px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1494px;
  height:58px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:1494px;
  height:58px;
}
#u130_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:36px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:13px;
  width:75px;
  height:36px;
  font-size:28px;
}
#u131_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:960px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:59px;
  width:191px;
  height:960px;
}
#u132_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:43px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:70px;
  width:145px;
  height:43px;
}
#u133_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:76px;
  width:28px;
  height:30px;
  opacity:0.6;
}
#u134_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:147px;
  width:191px;
  height:72px;
  font-size:20px;
}
#u135_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:187px;
  word-wrap:break-word;
}
#u136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:68px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:219px;
  width:191px;
  height:68px;
  font-size:20px;
}
#u136_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:187px;
  word-wrap:break-word;
}
#u137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:287px;
  width:191px;
  height:76px;
  font-size:20px;
}
#u137_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:187px;
  word-wrap:break-word;
}
#u138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:362px;
  width:191px;
  height:76px;
  font-size:20px;
}
#u138_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:187px;
  word-wrap:break-word;
}
#u139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:76px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:438px;
  width:191px;
  height:76px;
  font-size:20px;
}
#u139_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:187px;
  word-wrap:break-word;
}
#u140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:514px;
  width:191px;
  height:76px;
  font-size:20px;
}
#u140_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:187px;
  word-wrap:break-word;
}
#u141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:35px;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:236px;
  width:21px;
  height:35px;
}
#u141_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:37px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:165px;
  width:21px;
  height:37px;
}
#u142_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:42px;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:455px;
  width:21px;
  height:42px;
}
#u143_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:589px;
  width:191px;
  height:77px;
  font-size:20px;
}
#u144_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:187px;
  word-wrap:break-word;
}
#u145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:58px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:2px;
  width:138px;
  height:58px;
  font-size:28px;
}
#u145_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:134px;
  word-wrap:break-word;
}
#u146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:2px;
  width:138px;
  height:58px;
  font-size:28px;
}
#u146_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:134px;
  word-wrap:break-word;
}
#u147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:58px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:2px;
  width:138px;
  height:58px;
  font-size:28px;
}
#u147_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:134px;
  word-wrap:break-word;
}
#u148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1303px;
  height:959px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:60px;
  width:1303px;
  height:959px;
}
#u148_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:95px;
  width:6px;
  height:30px;
}
#u149_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:91px;
  width:61px;
  height:38px;
}
#u150_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:57px;
  word-wrap:break-word;
}
#u151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:55px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:147px;
  width:1210px;
  height:55px;
}
#u151_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:55px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:147px;
  width:276px;
  height:55px;
  color:#FFFFFF;
}
#u152_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:272px;
  word-wrap:break-word;
}
#u153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:85px;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:202px;
  width:1210px;
  height:85px;
}
#u153_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:52px;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:219px;
  width:118px;
  height:52px;
  font-size:20px;
}
#u154_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:114px;
  word-wrap:break-word;
}
#u155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:52px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:219px;
  width:229px;
  height:52px;
  color:#A1A1A1;
}
#u155_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:225px;
  word-wrap:break-word;
}
#u156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:52px;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:219px;
  width:118px;
  height:52px;
  font-size:20px;
}
#u156_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:114px;
  word-wrap:break-word;
}
#u157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:52px;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:1028px;
  top:219px;
  width:118px;
  height:52px;
  font-size:20px;
}
#u157_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:114px;
  word-wrap:break-word;
}
#u158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:52px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:219px;
  width:229px;
  height:52px;
  color:#A1A1A1;
}
#u158_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:225px;
  word-wrap:break-word;
}
#u159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:52px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:1132px;
  top:219px;
  width:229px;
  height:52px;
  color:#A1A1A1;
}
#u159_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:225px;
  word-wrap:break-word;
}
#u160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:315px;
  width:1210px;
  height:72px;
}
#u160_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:56px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:323px;
  width:149px;
  height:56px;
  color:#000000;
}
#u161_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:145px;
  word-wrap:break-word;
}
#u162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:908px;
  top:331px;
  width:105px;
  height:40px;
}
#u162_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:101px;
  word-wrap:break-word;
}
#u163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:1047px;
  top:331px;
  width:110px;
  height:40px;
}
#u163_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:1180px;
  top:331px;
  width:110px;
  height:40px;
}
#u164_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:1317px;
  top:331px;
  width:132px;
  height:40px;
}
#u165_input {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#AEAEAE;
  text-align:left;
}
#u166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:11px;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:1406px;
  top:348px;
  width:20px;
  height:11px;
}
#u166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:537px;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:387px;
  width:1210px;
  height:537px;
}
#u167_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:61px;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:1317px;
  top:442px;
  width:123px;
  height:61px;
  color:#6666CC;
}
#u168_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:119px;
  word-wrap:break-word;
}
#u169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:61px;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:1317px;
  top:529px;
  width:123px;
  height:61px;
  color:#6666CC;
}
#u169_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:119px;
  word-wrap:break-word;
}
#u170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:61px;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:1317px;
  top:615px;
  width:123px;
  height:61px;
  color:#6666CC;
}
#u170_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:119px;
  word-wrap:break-word;
}
#u171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:61px;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:1317px;
  top:771px;
  width:123px;
  height:61px;
  color:#6666CC;
}
#u171_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:119px;
  word-wrap:break-word;
}
#u172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:61px;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:1317px;
  top:851px;
  width:123px;
  height:61px;
  color:#6666CC;
}
#u172_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:119px;
  word-wrap:break-word;
}
#u173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:61px;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:1319px;
  top:609px;
  width:123px;
  height:61px;
  color:#6666CC;
}
#u173_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:119px;
  word-wrap:break-word;
}
#u174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:61px;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:1319px;
  top:686px;
  width:123px;
  height:61px;
  color:#6666CC;
}
#u174_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:119px;
  word-wrap:break-word;
}
#u175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:61px;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:442px;
  width:152px;
  height:61px;
}
#u175_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:148px;
  word-wrap:break-word;
}
#u176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:61px;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:529px;
  width:152px;
  height:61px;
}
#u176_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:148px;
  word-wrap:break-word;
}
#u177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:61px;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:609px;
  width:152px;
  height:61px;
}
#u177_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:148px;
  word-wrap:break-word;
}
#u178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:61px;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:686px;
  width:152px;
  height:61px;
}
#u178_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:148px;
  word-wrap:break-word;
}
#u179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:61px;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:771px;
  width:152px;
  height:61px;
}
#u179_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:148px;
  word-wrap:break-word;
}
#u180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:61px;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:851px;
  width:152px;
  height:61px;
}
#u180_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:148px;
  word-wrap:break-word;
}
#u181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:61px;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:442px;
  width:63px;
  height:61px;
}
#u181_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:59px;
  word-wrap:break-word;
}
#u182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:61px;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:523px;
  width:63px;
  height:61px;
}
#u182_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:59px;
  word-wrap:break-word;
}
#u183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:61px;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:609px;
  width:63px;
  height:61px;
}
#u183_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:59px;
  word-wrap:break-word;
}
#u184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:61px;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:695px;
  width:63px;
  height:61px;
}
#u184_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:59px;
  word-wrap:break-word;
}
#u185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:61px;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:771px;
  width:63px;
  height:61px;
}
#u185_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:59px;
  word-wrap:break-word;
}
#u186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:61px;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:851px;
  width:63px;
  height:61px;
}
#u186_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:59px;
  word-wrap:break-word;
}
#u187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:45px;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:450px;
  width:68px;
  height:45px;
}
#u187_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:64px;
  word-wrap:break-word;
}
#u188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:45px;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:531px;
  width:68px;
  height:45px;
}
#u188_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:64px;
  word-wrap:break-word;
}
#u189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:45px;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:617px;
  width:68px;
  height:45px;
}
#u189_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:64px;
  word-wrap:break-word;
}
#u190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:45px;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:695px;
  width:68px;
  height:45px;
}
#u190_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:64px;
  word-wrap:break-word;
}
#u191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:45px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:779px;
  width:68px;
  height:45px;
}
#u191_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:64px;
  word-wrap:break-word;
}
#u192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:45px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:859px;
  width:68px;
  height:45px;
}
#u192_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:64px;
  word-wrap:break-word;
}
#u193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:55px;
  background:inherit;
  background-color:rgba(51, 255, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:1199px;
  top:147px;
  width:91px;
  height:55px;
}
#u193_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:87px;
  word-wrap:break-word;
}
#u194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:38px;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:391px;
  width:76px;
  height:38px;
}
#u194_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:72px;
  word-wrap:break-word;
}
#u195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:61px;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:442px;
  width:76px;
  height:61px;
}
#u195_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:72px;
  word-wrap:break-word;
}
#u196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:61px;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:523px;
  width:76px;
  height:61px;
}
#u196_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:72px;
  word-wrap:break-word;
}
#u197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:61px;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:609px;
  width:76px;
  height:61px;
}
#u197_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:72px;
  word-wrap:break-word;
}
#u198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:61px;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:695px;
  width:76px;
  height:61px;
}
#u198_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:72px;
  word-wrap:break-word;
}
#u199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:61px;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:766px;
  width:76px;
  height:61px;
}
#u199_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:72px;
  word-wrap:break-word;
}
#u200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:61px;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:851px;
  width:76px;
  height:61px;
}
#u200_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:72px;
  word-wrap:break-word;
}
#u201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:33px;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:959px;
  width:540px;
  height:33px;
}
#u201_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:46px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#9933FF;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:328px;
  width:192px;
  height:46px;
  color:#9933FF;
}
#u202_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:188px;
  word-wrap:break-word;
}
